<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <title>nízkoklíčový poster generator</title>
</head>

<body>
    <!-- Top bar -->
    <div class="top-bar">
        
    </div>
    <!-- Bottom stuff -->
    <div class = "bottom-stuff">
    <!-- Left bar -->
        <div class="control-panel">
            <h1>TK Poster generator</h1>
            <form method=post enctype=multipart/form-data>  
                <label for="hlavicka">Horní část: </label>
                <input type=file name=hlavicka >

                <label for="prava">Pravá část: </label>
                <input type=file name=prava>

                <label for="stred">Střední část: </label>
                <input type=file name=stred>

                <label for="leva">Levá část: </label>
                <input type=file name=leva>
                
                <input type=submit value=Nahrát>
            </form>

            <!-- list souborů -->
            <h2>Soubory</h2>
            <div class="files">
                {% for i in files %} 
                {{ i }}<br>
                {% endfor %}

            </div>

        </div>
        <!-- Image (final poster) -->
        <div class="final-image">
            <div class="poster-wrapper">
                <img src="{{ url_for('static', filename='final_merged.png') }}" alt="merged poster" class="poster-image"></img>
            </div>
        </div>
    </div>
    <!-- <h1>{{message}}</h1> -->
</body>
</html>