:root{
    --default-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column; /* Celá stránka je sloupec */
    min-height: 100vh;
    font-family: var(--default-font);
}
.poster-wrapper {
    width: 50%;
    margin: 0 auto;
}
.top-bar {
    background: #818181;
    color: white;
    padding: 20px;
}
.bottom-stuff {
    display: flex !important;   
    flex-direction: row;      
    width: 100%;            
    align-items: flex-start;  
}
.control-panel {
    width: 350px;      
    background: #ecf0f1;
    padding: 20px;
}

.final-image {
    flex: 1;            /* "flex: 1" znamená: zaber veškerý zbývající prostor */
    display: flex;
    justify-content: center; /* Vycentruje obrázek vodorovně */
    align-items: center;     /* Vycentruje obrázek svisle */
    padding: 20px;
}
.poster-image {
    width: 100%;
    height: auto;
}
.files{
    font-family: var(--default-font);
}
.parent {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 8px;
}
        